{% extends 'base.html' %}

{% block title %}Teacher{% endblock title %}

{% block message %}
    {% include 'include/message.html' %}
{% endblock message %}

{% block content %}
    <h1 class="text-center">Teacher List</h1>
    <a href="{% url 'teacher_create' %}" class="btn btn-primary mt-3">Create Teacher</a>
    <table class="table table-striped table-hover mt-3 border">
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Date of Admission</th>
            <th>Qualification</th>
            <th>Course</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.phone }}</td>
                <td>{{ teacher.address }}</td>
                <td>{{ teacher.gender }}</td>
                <td>{{ teacher.date_of_birth }}</td>
                <td>{{ teacher.date_of_joining }}</td>
                <td>{{ teacher.qualification }}</td>
                <td>{{ teacher.course }}</td>
                <td>
                    <a href="{% url 'teacher_edit' teacher.id %}" class="btn btn-outline-warning">Edit</a>
                    <a href="{% url 'teacher_delete' teacher.id %}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
            

    </table>
{% endblock content %}