{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}

{% block content %}
    <div class="card mt-5">
        <div class="card-body">
            <h1 class="text-center">CRUD Application using Django</h1>
            <h2 class="text-center">Course App using function based views</h2>
            <h2 class="text-center">Student App using model forms and function base view</h2>
            <h2 class="text-center">Teacher App using class based views</h2>
        </div>
    </div>

{% endblock content %}